Language: Cpp
AlignAfterOpenBracket: Align
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: false
ColumnLimit: 90
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
FixNamespaceComments: false
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^(<|")(CppUnitTest|gtest|gmock|isl|json)'
    Priority: 4
  - Regex: '^<(cassert|ctime|cstd)'
    Priority: 2
  - Regex: '\.h>$'
    Priority: 1
  - Regex: '\.hpp>$'
    Priority: 5
  - Regex: '^<'
    Priority: 3
  - Regex: '^"'
    Priority: 6
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 2
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11
UseTab: Never

PenaltyBreakAssignment: 25
PenaltyBreakBeforeFirstCallParameter: 25
PenaltyBreakComment: 5
PenaltyBreakFirstLessLess: 5
PenaltyBreakString: 5
PenaltyExcessCharacter: 1
PenaltyReturnTypeOnItsOwnLine: 25
PenaltyReturnTypeOnItsOwnLine: 25